.reset-pop .weui-cells_radio {
  height: 300px;
  overflow: auto;
}

.vux-header .vux-header-left,
.vux-header .vux-header-right {
  font-size: 1.8rem !important;
}

.form-contant {
  max-width: 500px;
  margin: 10% auto;
}

.weui-cells__title {
  color: #000000 !important;
  font-size: 1.7rem !important;
}

.set-input .weui-label {
  width: 6em !important;
}

.margin-top10 {
  margin-top: 10px;
}

/*设备两列展示 star*/
.equipment {
  min-height: 20%;
  margin: 10px;
  padding: 0 15px;
  background-color: #ffffff;
  box-sizing: border-box;
}

.flex-p {
  height: 46px;
  line-height: 46px;
}

@media only screen and (min-width: 500px) {
  .flex-eq {
    padding: 0 10px !important;
  }
}

@media only screen and (min-width: 900px) {
  .flex-eq {
    padding: 0 80px !important;
  }
}

/*设备两列展示 end*/
/*头部固定*/
.fixe_top {
  width: 100%;
  position: fixed !important;
  left: 0px;
  top: 0px;
  z-index: 200;
}

.margin_top56 {
  margin-top: 56px;
}

.reset-cell .weui-cell_access .weui-cell__ft:after {
  border-color: #3cbcd5 !important;
}
.reset-cell .weui-cell_access .weui-cell__ft {
  width: 30px;
  height: 20px;
}
/* .reset-cell .weui-cell_access .weui-cell__ft:after {
  content: " ";
  display: inline-block;
  height: 6px;
  width: 6px;
  border-width: 2px 2px 0 0;
  border-color: #3cbcd5 !important;
  border-style: solid;
  -webkit-transform: matrix(0.71, 0.71, -0.71, 0.71, 0, 0);
  transform: matrix(0.71, 0.71, -0.71, 0.71, 0, 0);
  position: absolute;
  top: 50%;
  margin-top: -4px;
  right: 2px;
}




*/


.form-contant {
  max-width: 500px;
  margin: 10% auto;
}

.weui-grid:after {
  border-bottom: none !important;
}

.weui-grid {
  padding: 10px !important;
}

.weui-grid__icon {
  width: 42px !important;
  height: 42px !important;
}

html,
body,
form,
fieldset,
p,
div,
h1,
h2,
h3,
h4,
h5,
h6 {
  -webkit-text-size-adjust: none;
}
