.home-container {
  height: 100%;
  padding-bottom: 63px;
  .pull-right {
    float: right;
  }
  .pull-left {
    float: left;
  }
  .item-badge {
    position: absolute;
    left: 60px;
    top: 9px;
  }
  .weui-search-bar {
    padding: 5px;
  }
  .vux-swiper-item {
    img {
      width: 100%;
    }
  }
  .city-selector {
    width: 100%;
    height: 0.35rem;
    line-height: 0.35rem;
    text-align: right;
    span {
      font-size: 14px;
      color: #28b1ea;
    }
    .el-icon-coral-coordinates {
      position: relative;
      left: 5px;
    }
    .el-icon-coral-biaotou-daoxu {
      position: relative;
      top: 2px;
    }
  }
  .dialog-read-btn {
    padding: 10px;
    .weui-btn {
      background-color: #0bb20c;
    }
  }
  .tab-icons {
    width: 100%;
    height: 0.95rem;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    .tab-icon {
      display: flex;
      flex-direction: column;
      align-items: center;
      img {
        width: 0.48rem;
        height: 0.48rem;
        margin-bottom: 0.08rem;
      }
      span {
        color: #adadad;
      }
    }
  }
  .block {
    width: 100%;
    .block-title {
      width: 100%;
      height: 0.24rem;
      margin: 0.03rem 0.03rem 0 0.03rem;
      line-height: 0.24rem;

      .rect {
        padding: 9px 3px;
        width: 0;
        font-size: 0;
        background-color: #84daef;
        position: relative;
        top: -5px;
        margin-left: 0.15rem;
      }
      .title-text {
        margin-left: 0.05rem;
      }
    }
    .has-no-active {
      width: 100%;
      height: 0.4rem;
      line-height: 0.4rem;
      text-align: center;
      span {
        color: #666;
        .link {
          color: #84daef;
        }
      }
    }
    .block-content {
      width: 100%;
      padding: 0.1rem 0.1rem 0 0.1rem;
      box-sizing: border-box;
      .content-main {
        background: #fff;
        box-shadow: 0 2px 6px 0 rgba(0, 0, 0, 0.1);
        border-radius: 4px;
        display: flex;
        flex-direction: row;
        align-items: center;
      }
      .group-content-main {
        height: 0.9rem;
        .avatar {
          padding: 0 0.05rem;
          img {
            width: 0.82rem;
            height: 0.86rem;
            vertical-align: middle;
            border-radius: 4px;
          }
        }
        .info {
          flex: 1;
          height: 100%;
          box-sizing: border-box;
          padding: 0.1rem;
          display: flex;
          flex-direction: column;
          justify-content: space-around;
          .info-item {
            display: flex;
            flex-direction: row;
            justify-content: space-between;
            .info-span-item-title {
              display: -webkit-box;
              -webkit-box-orient: vertical;
              -webkit-line-clamp: 2;
              overflow: hidden;
            }
          }
        }
      }
    }
  }
}
